<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='addstudent.css') }}">
</head>
<body>
    <header>
        <div class="logo">📘 CampusFlow</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('feature') }}">Features</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Settings Nav -->
    <nav class="settings-nav">
        <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">👤 Student</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('student_dashboard')}}">📋 Student Dashboard</a>
                    <a href="{{ url_for('Add_student')}}">📊 Add Student</a>
                    <a href="#">📚 View Student Profiles</a>
                    <a href="#">📅 Student Attendance</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">💵 Fees Management</a>
                <div class="dropdown-content">
                    <a href="#">💰 View Fees</a>
                    <a href="#">📄 Generate Receipt</a>
                    <a href="#">📊 Fees Analytics</a>
                    <a href="#">📅 Fees Collection</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">🏫 Exams & Results</a>
                <div class="dropdown-content">
                    <a href="#">📚 View Results</a>
                    <a href="#">📅 Schedule Exams</a>
                    <a href="#">📋 Question Paper Management</a>
                    <a href="#">📈 Generate Result</a>
                    <a href="#">📝 Add Exam</a>
                    <a href="#">📊 Result Analytics</a>
                    <a href="#">📈 Subject-wise Performance Reports</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">👨 Teacher & Faculty</a>
                <div class="dropdown-content">
                    <a href="#">🗂 Staff Profiles & Records</a>
                    <a href="#">📚 Add Teacher & Faculty</a>
                    <a href="#">📅 Teacher Timetable Management</a>
                    <a href="#">⏰ Attendance & Leave Tracking</a>
                    <a href="#">📊 Performance Evaluation</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">📆 Event Management</a>
                <div class="dropdown-content">
                    <a href="#">📅 Events Calendar</a>
                    <a href="#">📢 News & Updates</a>
                    <a href="#">📸 Photo Gallery</a>
                    <a href="#">➕ Add New Event</a>
                    <a href="#">📝 Register for Event</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">🔐 Security & Access</a>
                <div class="dropdown-content">
                    <a href="#">🔑 User Management</a>
                    <a href="#">🔒 Role-based Access Control</a>
                    <a href="#">🛡️ Data Encryption</a>
                    <a href="#">📊 Audit Logs</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">⚙️ Settings</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('acadamic_year') }}">📅 acadamic Year</a>
                    <a href="{{ url_for('department')}}">🏢 Departments</a>
                    <a href="{{url_for('standards_page')}}">📚Manage Standard</a>
                    <a href="{{url_for('Division_page')}}">✏️Manage Division </a>
                    <a href="{{url_for('roles_page')}}">👥 Manage Roles</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'Emailerror' %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% elif category == 'addsuccess' %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% elif category == 'adderror' %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% elif category == 'dropdownerror' %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
         <h2>Add New Student</h2>
        <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
            <a href="{{ url_for('Add_bulk_student') }}" class="bulk-btn">➕ Add Students in Bulk</a>
        </div>

        <form action="{{ url_for('Add_student') }}" method="POST">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required>

            <label for="academic_year">Academic Year</label>
            <select id="academic_year" name="academic_year" required>
                <option value="" disabled selected>Select Academic Year</option>
                {% for y in years %}
                    <option value="{{ y.id }}">{{ y.year_name }}</option>
                {% endfor %}
            </select>

            <label for="department_id">Department:</label>
            <select name="department_id" id="department_id" required>
                <option value="">-- Select Department --</option>
                {% for d in departments %}
                    <option value="{{ d.id }}">{{ d.department_name }}</option>
                {% endfor %}
            </select>

            <label for="standard_id">Standard:</label>
            <select name="standard_id" id="standard_id" required>
                <option value="">-- Select Standard --</option>
                {% for s in standards %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>

            <label for="division_id">Division:</label>
            <select name="division_id" id="division_id" required>
                <option value="">-- Select Division --</option>
                {% for div in divisions %}
                    <option value="{{ div.id }}">{{ div.name }}</option>
                {% endfor %}
            </select>

            <button type="submit">Add Student</button>
        </form>
    </div>
</body>
</html>